    /* ============== HEADER ============== */
    // СТИЛІ ДЛЯ МОБІЛЬНОГО
.header {
    position: relative; 
    padding: 16px 0;
    & > .container {
        display: flex;
    }    
}

.menu-button {
    display: inline-flex;
    // margin: 0;
    margin-left:auto;
    padding: 0;
    border: none;
    background-color: transparent;
    @media screen and (min-width: 768px) {
        display:none;
    }
}
    
.menu-button .icon-close-menu {
    display: none;
}
    
.menu-button.is-open .icon-close-menu {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.page-header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.address-list-text {
    margin-left: 10px;
}

.header .address-list-link {
    display: flex;
    align-items: center;

  //  justify-content: center;
}

.navigation-list-link,
.address-list-link {
    @include font(500, 14px, 1.143, 0.02em);
  
    &:hover,
    &:focus {
        color: var(--accent-color);
    }      
}

.navigation-list-link{
    color: var(--heading-color);

    &.active {
        color: var(--accent-color);

        &::after {
            content: ""; 
            width: auto;
            height: 4px;
            display: block;
            background: var(--accent-color);
            border-radius: 2px;
        
            position:relative;
            // left: 10px;
        }
    }
}

.address-list-icon {
    display: block;
    fill: var(--main-color);
        .header .address-list-link:hover &,
        .header .address-list-link:focus & {
            fill: var(--accent-color);
     }
}

.header {
    border-bottom: 1px solid #ECECEC;;
    .address {
        margin-left: auto; 
    }
    .address-list-item {
        display:flex;
        width: 100%;
        align-items: center;
    }

} 

.mail-icon{
    width: 16px;
    height: 12px;
}

.phone-icon{
    width: 10px;
    height: 16px;
}

.header-social-list {
    display: none;
}

//стилі, що застосовуються лише для мобільного
@media screen and (max-width: 767px) {
    .site-nav {
        margin-bottom: 302px;
    }
    .navigation-list-item {
        display:flex;
        justify-content: flex-start;
        align-items: center;
    }
    .navigation-list-item:not(:last-child) {
        margin-bottom: 32px;
    }
    
    .navigation-list-link {
        font-size: 40px;
        line-height: 1.175;
        &.active::after {
            display: none;
        }
    }
    
    .address-list-header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-bottom: 64px;
    }

     .address-list-link {
        font-size: 24px;
        line-height: 1.172;
        margin: 0 auto 0 0;

    }
     .address-list-item:last-child {
        margin-bottom: 32px;
        .address-list-link {
            font-size: 34px;
            line-height: 40px;
            color: var(--accent-color);
        }
    }

    .address-list-icon {
        display: none;
    }

    .address-list-text {
        margin-left: 0;
    }

    .header-social-list {
        display: flex;
    }

    .header-social-list-item:not(:last-child) {
        margin-right: 10px;
        // display: flex;
        // position: relative;
        ::after {
            content: "";
            width: 1px;
            height: 22px;
            display: block;
            background: rgba(33, 33, 33, 0.2);
            margin-left: 10px;
            // position: absolute;
        }
    }

    .header-social-list-link {
        display: flex;
    }

    .header-social-list-link{
        @include font(500, 18px, 1.222, 0.02em);
        color: var(--accent-color);
    }

    .menu-container {
        background: #ffffff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
        display:none;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 48px 40px;

        &.is-open {
            display: block;
        }
    }
}


// СТИЛІ ДЛЯ ПЛАНШЕТУ


@media screen and (min-width:  768px) {
    .header {
        padding-top: 21px;
        padding-bottom: 21px;
        &  > .container {
            display: flex;
        }
    .address-list-link {
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
        .logo {
            margin-right: 88px;
        }
 
    }

    .menu-container {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    
     .navigation-list {
        display: flex;
    }

    .navigation-list-item:not(:last-child) {
        margin-right: 50px;
    }

    .navigation-list-link{
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &.active::after {
                top: 31px;
        }
    }
    .address-list-icon {
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .header .address-list-item:not(:last-child) {
        margin-bottom: 10px;
    }
}
// СТИЛІ ДЛЯ МОНІТОРУ КОМПʼЮТЕРА

@media screen and (min-width: 1199px) {
     .header {
        padding: 24px 0 25px 0;


    }

    .navigation-list-link.active::after {
        top: 28px;
    }

    .address-list-item:not(:last-child) {
        margin-right: 30px;
    }

    .mail-icon{
        width: 14px;
        height: 10px;
    }
    
    .phone-icon{
        width: 10px;
        height: 14px;
    }

    .address-list-text {
        margin-left: 8px;
    }

    .address-list-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
    
}

/* ============== END HEADER ============== */