    /* ============== HEADER ============== */
    // СТИЛІ ДЛЯ МОБІЛЬНОГО
.header  > .container {
    display: flex;
    padding: 10px 15px;
}
.menu-button {
    display: inline-flex;
    // margin: 0;
    margin-left:auto;
    padding: 0;
    border: none;
    background-color: transparent;
    @media screen and (min-width: 768px) {
        display:none;
    }
}
    
.menu-button .icon-close-menu {
    display: none;
}
    
.menu-button.is-open .icon-close-menu {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}


.header {
    position: relative; 
}

.page-header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.address-list-text {
    margin-left: 10px;
}

.header .address-list-link {
    display: flex;
    align-items: center;

  //  justify-content: center;
}

@media screen and (max-width: 767px) {
    .site-nav {
        margin-bottom: 60px;
    }
    .navigation-list-item {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .navigation-list-item:not(:last-child) {
        margin-bottom: 40px;
    }
    

    .header .address-list-link {
        margin: 0 auto;
    }
    .header .address-list-item:not(:last-child) {
        margin-bottom: 16px;
    }


    .menu-container {
        background: #ffffff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
        display:none;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 60px 0;

        &.is-open {
            display: block;
        }
    }
}

.navigation-list-link,
.address-list-link {
    @include font(500, 14px, 1.143, 0.02em);
  
    &:hover,
    &:focus {
        color: var(--accent-color);
    }      
}

.navigation-list-link{
    color: var(--heading-color);

    &.active {
        color: var(--accent-color);

        &::after {
            content: ""; 
            width: auto;
            height: 4px;
            display: block;
            background: var(--accent-color);
            border-radius: 2px;
        
            position:relative;
            top: 8px;
        }
    }
}

.address-list-icon {
    display: block;
    fill: var(--main-color);
        .header .address-list-link:hover &,
        .header .address-list-link:focus & {
            fill: var(--accent-color);
     }
}

.header {
    border-bottom: 1px solid #ECECEC;;
    .address {
        margin-left: auto; 
    }
    .address-list-item {
        display:flex;
        width: 100%;
        align-items: center;
    }

} 

.mail-icon{
    width: 16px;
    height: 12px;
}

.phone-icon{
    width: 10px;
    height: 16px;
}

// СТИЛІ ДЛЯ ПЛАНШЕТУ


@media screen and (min-width:  768px){
    .header {
        &  > .container {
            display: flex;
            padding: 21px 15px;

        }
    .address-list-link {
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
        .logo {
            margin-right: 88px;
        }
 
    }

    .menu-container {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    
     .navigation-list {
        display: flex;
    }

    .navigation-list-item:not(:last-child) {
        margin-right: 50px;
    }

    .navigation-list-link{
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &.active::after {
                top: 31px;
        }
    }
    .address-list-icon {
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .header .address-list-item:not(:last-child) {
        margin-bottom: 10px;
    }
}
// СТИЛІ ДЛЯ МОНІТОРУ КОМПʼЮТЕРА

@media screen and (min-width: 1199px) {
     .header {
        &  > .container {
            padding: 24px 0 25px 0;
        }

    }

    .navigation-list-link.active::after {
        top: 28px;
    }

    .address-list-item:not(:last-child) {
        margin-right: 30px;
    }

    .mail-icon{
        width: 14px;
        height: 10px;
    }
    
    .phone-icon{
        width: 10px;
        height: 14px;
    }

    .address-list-text {
        margin-left: 8px;
    }

    .address-list-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
    
}

/* ============== END HEADER ============== */