/* ============== OUR CLIENTS ============== */
// СТИЛІ ДЛЯ МОБІЛЬНОГО
 .our-clients-section > .container {
    flex-direction: column;
//     padding-top: 94px;
//     padding-bottom: 94px;
 }

.our-clients-list  {
    display: flex;
    // justify-content: spac-between;
    flex-wrap: wrap;
    margin-left: calc(-1*var(--card-set-our-clients));
    margin-top: calc(-1*var(--card-set-our-clients));
}
@media screen and (max-width: 479px) {
    .our-clients-list {
        max-width: 450px;
    }
}

.our-clients-list-item {
    width: 210px;
    flex-basis: calc(100%/2 - var(--card-set-our-clients));
    margin-left: var(--card-set-our-clients);
    margin-top: var(--card-set-our-clients);
}


.our-client-link {
    display:flex;
    justify-content: center;
    align-items: center;
    
    height: 90px;
    border: 1px solid var(--social-link-color);
    box-sizing: border-box;
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

// .our-clients-list-item:not(:last-child) {
//     margin-right: 30px;
// }


.our-clients-icon {
    fill: #afb1b8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .our-client-link:hover &,
    .our-client-link:focus & {
        fill: var(--accent-color);
    }
}
//Цикл для підбору розмірів логотипів клієнтів
@each $client-number, $width-icon, $height-icon in
    (first, 44.27px, 49.23px),
    (second, 40px, 52px),
    (third, 41px, 42.6px),
    (fourth, 79.66px, 42.02px),
    (fifth, 59px, 47px),
    (sixth, 88.48px, 45.44px) {
        .#{$client-number}-client-icon {
            width: #{$width-icon};
            height: #{$height-icon};
        }
}

// СТИЛІ ДЛЯ ПЛАНШЕТУ

@media screen and (min-width: 768px) {
    .our-clients-list {
        width: auto;
    }

    .our-clients-list-item {
        //width: 226px;
        flex-basis: calc(100%/3 - var(--card-set-our-clients));
    }
}

@media screen and (min-width: 1199px) {
    // .our-clients-list {
    //     width: auto;
    // }

    .our-clients-list-item {
      //width: 170px;
       flex-basis: calc(100%/6 - var(--card-set-our-clients));
    }
}

 //Правила для сепер малих екранів
 @media screen and  (max-width: 335px) {   
    .our-clients-list-item {
        flex-basis: calc(100%/1);
    }
}

/* ============== OUR CLIENTS END ============== */