/* ============== SPECIALIZATION SECTION ============== */

// СТИЛІ ДЛЯ МОБІЛЬНОГО ТА ПЛАНШЕТУ

@media screen and (max-width:1199px) {
    .specialization-section { //visually-hidden
        display:none;
    }
}

.specialization-section > .container {
    flex-direction: column;
    padding: 0 0 94px;
}
.specialization-list {
    display: flex;
    justify-content: center;
    width: calc(100% + var(--card-set-our-clients));
}

.specialization-list-item {
    position: relative;

    &:not(:last-child) {
        margin-right: var(--card-set-specialization);
    }
}

.specialization-title,
.our-command-title,
.our-clients-title {
    text-align: center;
    @include font(700, 28px, 1.179, 0.03em);
    color: var(--heading-color);
    margin-bottom: 30px;
}

@media screen and (min-width: 1199px) {
    .specialization-title,
    .our-command-title,
    .our-clients-title {
        @include font(700, 36px, 1.167, 0.03em);
        margin-bottom: 50px;
    }
}

.specialization-name {
@include font(700, 14px, 1.143, 0.03em);
text-align: center;
text-transform: uppercase;
color: var(--main-color-dark-backgr);

width: 100%;
background-color: rgba(47, 48, 58, 0.8);
position: absolute;
bottom: 0px;
padding: 27px 0;
}


/* ============== SPECIALIZATION SECTION END ============== */